[submodule "include/nexus"]
	path = include/nexus
	url = https://github.com/RaidcoreGG/RCGG-lib-nexus-api
[submodule "include/mumble"]
	path = include/mumble
	url = https://github.com/RaidcoreGG/RCGG-lib-mumble-api
[submodule "include/imgui"]
	path = include/imgui
	url = https://github.com/RaidcoreGG/imgui
